@import "fonts.css";

body {
    background-color: var(--background);
    margin: 0;
    padding: 0 5%;
}

:root{
    font-size: 18px;

    /*farbe*/
    --background: #f0eee9;
    --text-color: #171717;

    --past-background: #1d1d1d;
    --past-text: #ffffff;

    --present-background: #5EA0DE;
    --present-text: #171717;

    --future-background: #C336DF;
    --future-text: #000000;

    --accent: #8580ed;



    /* schriften*/
    --f-title: 'LatoBold';
    --f-text: 'LatoRegular';

    /*grössen*/
    --ga-large: 2.5rem;
    --ga-text: 1.5rem;
    --ga-medium: 1rem;
    --ga-small: 0.5rem;

    font-family: var(--f-text);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--f-title), sans-serif;
    line-height: 1.15;
}






/* Wahlabschnitt - löschen?*/

.wahlAbschnitt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wahlAbschnitt div {
    text-align: center;
}

.wahlAbschnitt div p {
    text-align: center;
}

.btnZeit {
    min-height: 75px;
    min-width: 75px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    background-color: black; /*Platzhalter*/
}

.gewaehlterInhalt {
    background-color: #0f0f18;
    min-height: 10vh;
    color: #ffffff;
    padding: 30px;
}

img {
    width: 100%;
}


/* Media Queries */

@media screen and (min-width: 1200px) {
    .gewaehlterInhalt {
        display: grid;
        grid-template-columns: 3fr 5fr;
        gap: 50px;
    }
}

